# Ignore everything
*

# Credentials (never track)
.credentials
.env

# Except these files
!.gitignore
!README.md
!index.html
!Tutorial-AfriGenD-Imputation-Service.md
!data/
!data/1k_afr_661_samples_4k_variants_hg38_agsc2025_chr22.vcf.gz
!data/1k_afr_661_samples_phenotype.txt
!images/
!images/*.png
!.github/
!.github/workflows/
!.github/workflows/*.yml
